name: Build

on:
  push:
    tags:
      - '*'
  pull_request:
    branches: [master, main]

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
        
      - name: Build native library
        run: |
          cd src/main/native
          make
          ls -l ../resources/natives/macos_input_fixes.dylib
          
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v2
        
      - name: Build with Gradle
        uses: gradle/gradle-build-action@v3
        with:
          arguments: build
          
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Mod-Artifacts
          path: build/libs/*.jar
